.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  padding: 16px;
background-image: url("../src/assets/Images_a/final2.jpg");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.login-container {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.login-logo {
  /* width: 70px;
  height: 70px; */
  /* background: rgb(255, 251, 251); */
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}

.login-logo img {
  width: 90px;
  border-radius: 14px;
  border: 2px solid #06285a;
  box-shadow:
    2px 2px 5px #06285a, 
    -2px -2px 5px rgba(255,255,255,0.7);
}

.login-title {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255,255,255,0.7);
}

.login-subtitle {
  font-size: 17px;
  color: rgba(255,255,255,0.7);
  margin-top: 4px;
}

.role-toggle {
  margin-top: 20px;
  background: #f3f4f6;
  border-radius: 999px;
  padding: 6px;
  display: flex;
}

.role-btn {
  flex: 1;
  border: none;
  background: transparent;
  padding: 8px 0;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 500;
  color:  #8a0c15;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.role-btn.active {
  background: #ffffff;
  color: #8a0c15;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
  margin-top: 16px;
  text-align: left;
}

.login-form label {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.login-form label.mt {
  margin-top: 12px;
  display: block;
}

.input-wrapper {
  position: relative;
  margin-top: 6px;
}

.input-wrapper svg {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #8a0c15;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 16px 12px 40px;
  border-radius: 999px;
  border: 1px solid #8a0c15;
  font-size: 16px;
  outline: none;
  color: rgb(0, 0, 0);
}


.input-wrapper input:focus {
  border-color:  #8a0c15;
  box-shadow: 0 0 0 2px rgba(114, 60, 251, 0.4);
}

.error-text {
  font-size: 12px;
  color: #ef4444;
  margin-top: 4px;
}

.login-btn {
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  border-radius: 999px;
  background:  #8a0c15;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.login-btn:hover {
  background:#8a0c15;
}

.login-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.login-footer {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.login-footer button {
  background: none;
  border: none;
  color: #8a0c15;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin-left: 4px;
}
